body {
    background-color: #000;
}


.jumbotron
{
	background-color: #777;
	color:black;
	font-size:large;
}


.topnav {
	position: fixed;
	background-color: #555;
	overflow: hidden;
	width:100%;
	z-index:100;
	padding-top:0px;
	top:0px;
}

.navbar {
	background-color: #FFF;
	overflow: visible;
	width:100%;
	z-index:100;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav jumbotron {
color:black;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #DDD;
    color: black;
}

h1 {
    text-align: center;
	background-color: #CCC;
}

h2 {
	background-color: #EEE;
}

h4 {
	background-color: #555;	
	color:#EEE;
}

p {
    font-family: verdana;
    font-size: 16px;
}


.container-fluid {
	padding:20px;
	margin:20px;
	background-color:#FFFFFF;
	padding-left:20px;
	padding-right:20px;
	padding-top:20px;
	padding-bottom:20px;

}

.jumbotron:link /*works in Maxthon*/
{
	background-color: #CCC;
	color:#555;
	font-size:large;
}

/* Style the dropdown content (hidden by default) */
/* .dropdown-content {
  display: none;
} */


/* Style the links inside the dropdown */
/* .dropdown-content a {
  float: none;
  display: block;
  text-align: left;
} */

/* Add a dark background on topnav links and the dropdown button on hover */
/* .topnav .dropdown:hover .dropbtn {
  background-color: #DDD;
  color: black;
} */

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  overflow: visible;
  position: relative;
  display: inline-block;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}


.category { padding-top: 90px; }

th, td {
  border-style: solid;
  border-width: thin;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* .nav {
  background-color: #797979;
}

.nav-link {
  color: #000;
  font-weight: bolder;
} */

.img {
  max-width: 100%;
}